@font-face {
  font-family: "PlayfeirDisplay";
  src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Robotic_regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Robotic_regular";
  margin: 0;
  padding: 0;
  color: var (--white);
}
.wrapper {
  background-color: black;
}

.breaking_line {
  background-color: black;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breaking_line_arrow {
  height: 180px;
  border: solid 1px darkgreen;
}

@media screen and (max-width: 920px) {
  .breaking_line {
    height: 200px;
  }
  .hero_name {
    height: 484px !important;
  }
  .breaking_line_arrow {
    height: 120px;
  }
  .travel_list {
    width: 90% !important;
  }
}

#top_block {
  position: fixed;
  display: none;
  bottom: 20px;
  left: 20px;
  transition: opacity 0.5s;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
}

.pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.pictures img {
  display: block;
  width: 100px;
}

.modal_pic {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  display: none;
  flex-direction: column;
}

#pic_res {
  width: 60%;
}

.close {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  background-color: rgba(255, 0, 0, 0.7);
  padding: 15px;
  cursor: pointer;
}

.item_pic {
  cursor: pointer;
  margin: 10px;
  width: 100px;
  height: 140px;
  object-fit: cover;
}

.header_city_temp {
  text-align: center;
  line-height: 50px;
}

.head_city {
  font-size: 200%;
}

#temperature {
  font-size: 130%;
}
.text_city {
  width: 90%;
  margin: auto;
  text-align: center;
}
