body {
  background-color: black;
  color: white;
}
.middle_section a,
.left_section a,
.right_section a {
  color: #fff !important;
}

.header_2 {
  display: flex;
  flex-direction: column;
}
.form {
  width: 300px;
  margin: 20px auto;
}
.hero_name_background_img h1 {
  text-align: center;
  text-transform: uppercase;
}
.middle_section {
  margin-right: 0 !important;
}
input[type="text"],
textarea {
  border-radius: 12px;
  width: 92%;
}
input,
textarea {
  padding: 5px 5px 5px 15px;
  background-color: #fff;
}
.form_group {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}
.row {
  flex-direction: row;
  justify-content: space-between;
}
input[type="date"] {
  border-radius: 12px;
}
.form_group div:first-child {
  text-align: center;

}


.btn {

  border-radius: 12px;
  margin: auto;
  padding: 5px 10px;
  cursor: pointer;
  transition: opacity;
  transition: all .3s;
  margin-bottom: 15px;
}

.btn:hover{

  opacity: 0.8;

}

.btn:active{
  opacity: 0.5;
}

.clearButton{
  border-radius: 12px;
  margin: auto;
  padding: 5px 10px;
  cursor: pointer;
  transition: opacity;
  transition: all .3s;
  padding-left: 20px;
  padding-right: 20px;
}

.clearButton:hover{

  opacity: 0.8;

}

.clearButton:active{
  opacity: 0.5;
}